{{ extends "/default.html" }}

{{ define "content"}}
<div id="article-container" class="clear container960">
  <section id="main">
    <article class="article article-type-page" itemscope="" itemprop="blogPost">
      {{with .Article}}
      <div class="article-inner">
        <header class="article-header">
          <a href="{{ .Url }}">
            <h1 class="article-title" itemprop="name">
              {{ .Title }}
            </h1>
          </a>
          <div class="article-meta">
            <div class="article-date">
              <i class="fa fa-calendar"></i>
              <time datetime="{{ .PublishedAt }}" itemprop="datePublished">{{DateFormat .PublishedAt "%m %b, %Y"}}</time>
            </div>

            <div class="article-category">
              <i class="fa fa-tags"></i>
              {{ range .Tags }}
              <a class="article-category-link" href="{{ .Url }}">{{.Name}}</a>
              {{ end }}
            </div>

            <div class="article-meta">
              <i class="fa fa-eye"></i>
              {{ .Hits }}
            </div>

            <div class="article-meta">
              <i class="fa fa-comment"></i>
              {{ .CommentNum }}
            </div>
          </div>
        </header>
        <div class="article-entry" itemprop="articleBody">
            {{Html .Html}}
        </div>
      </div>
      {{end}}

    </article>

    {{ include "comment.html" }}

  </section>

</div>
{{end}}

